In [1]:
import pandas as pd
import seaborn as sns
import numpy as np
import os
import pandas_profiling
from pandas_profiling  import ProfileReport
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv("../../data/raw/meteors.csv")
df

dc = (
    df.rename(columns={"name":"Name","nametype":"Classification","recclass": "Class","mass": "Mass", "fall": "FallType"})
    .sort_values("year", ascending=True)
    .dropna()
    .drop(['reclat', 'reclong'], axis=1)
         )
dc

,Name,id,Classification,Class,Mass,FallType,year,GeoLocation
38301,Wietrzno-Bobrka,24259,Valid,Iron,376.0,Found,601.0,"(49.416670, 21.700000)"
703,Nogata,16988,Valid,L6,472.0,Fell,860.0,"(33.725000, 130.750000)"
278,Elbogen,7823,Valid,"Iron, IID",107000.0,Fell,1399.0,"(50.183330, 12.733330)"
852,Rivolta de Bassi,22614,Valid,Stone-uncl,103.3,Fell,1490.0,"(45.483330, 9.516670)"
283,Ensisheim,10039,Valid,LL6,127000.0,Fell,1491.0,"(47.866670, 7.350000)"
...,...,...,...,...,...,...,...,...
30774,Northwest Africa 7858,57423,Valid,H4,459.0,Found,2013.0,"(0.000000, 0.000000)"
30776,Northwest Africa 7861,57425,Valid,L5,611.0,Found,2013.0,"(0.000000, 0.000000)"
30777,Northwest Africa 7862,57426,Valid,L4/5,317.0,Found,2013.0,"(0.000000, 0.000000)"
30759,Northwest Africa 7812,57258,Valid,Angrite,46.2,Found,2013.0,"(0.000000, 0.000000)"
30679,Northwest Africa 7701,57150,Valid,CK6,55.0,Found,2101.0,"(0.000000, 0.000000)"

### Has there been an increase in the mass of meteorites that have fallen over the past 200 years?

- manipulating the dataframe to reflect the data we want more effectively

In [4]:
#create a more reasonable timeframe (of years)
dfy = (dc[dc.year>1800])

#drop the predicted meteorite impact
dff = dfy.drop([30679]) 

#include only significantly sized meteors
dfm = (dff[dff.Mass>1000000]) 

#remove any invalid geolocations
dfgl = dfm[~dfm.GeoLocation.str.contains("0.000000")] 
dfgl

#begin numbering at 1
df = (dfgl
    .reset_index()
    .drop(columns=['index'])
     )
df

,Name,id,Classification,Class,Mass,FallType,year,GeoLocation
0,Charcas,5326,Valid,"Iron, IIIAB",1400000.0,Found,1804.0,"(23.083330, -101.016670)"
1,Bitburg,5062,Valid,"Iron, IAB complex",1500000.0,Found,1805.0,"(49.966670, 6.533330)"
2,Cape York,5262,Valid,"Iron, IIIAB",58200000.0,Found,1818.0,"(76.133330, -64.933330)"
3,Gibeon,10912,Valid,"Iron, IVA",26000000.0,Found,1836.0,"(-25.500000, 18.000000)"
4,Coahuila,5387,Valid,"Iron, IIAB",2100000.0,Found,1837.0,"(28.700000, -102.733330)"
5,Chupaderos,5363,Valid,"Iron, IIIAB",24300000.0,Found,1852.0,"(27.000000, -105.100000)"
6,Cranbourne,5463,Valid,"Iron, IAB-MG",8600000.0,Found,1854.0,"(-38.100000, 145.300000)"
7,Vaca Muerta,24142,Valid,Mesosiderite-A1,3828000.0,Found,1861.0,"(-25.750000, -70.500000)"
8,Wabar,24194,Valid,"Iron, IIIAB",2550000.0,Found,1863.0,"(21.499720, 50.472220)"
9,Bacubirito,4919,Valid,"Iron, ungrouped",22000000.0,Found,1863.0,"(26.200000, -107.833330)"
10,Casas Grandes,5285,Valid,"Iron, IIIAB",1545000.0,Found,1867.0,"(30.400000, -107.800000)"
11,Santa Apolonia,23160,Valid,"Iron, IIIAB",1316000.0,Found,1872.0,"(19.216670, -98.300000)"
12,Santa Catharina,23162,Valid,"Iron, IAB-ung",7000000.0,Found,1875.0,"(-26.216670, -48.600000)"
13,Brenham,5136,Valid,"Pallasite, PMG-an",4300000.0,Found,1882.0,"(37.582500, -99.163610)"
14,Youndegin,30374,Valid,"Iron, IAB-MG",3800000.0,Found,1884.0,"(-32.100000, 117.716670)"
15,Canyon Diablo,5257,Valid,"Iron, IAB-MG",30000000.0,Found,1891.0,"(35.050000, -111.033330)"
16,Armanty,2335,Valid,"Iron, IIIE",28000000.0,Found,1898.0,"(47.000000, 88.000000)"
17,Willamette,24269,Valid,"Iron, IIIAB",15500000.0,Found,1902.0,"(45.366670, -122.583330)"
18,Kouga Mountains,12352,Valid,"Iron, IIIAB",1173000.0,Found,1903.0,"(-33.616670, 24.000000)"
19,Quinn Canyon,22364,Valid,"Iron, IIIAB",1450000.0,Found,1908.0,"(38.083330, -115.533330)"
20,Murnpeowie,16878,Valid,"Iron, IC",1143000.0,Found,1909.0,"(-29.583330, 139.900000)"
21,Mundrabilla,16852,Valid,"Iron, IAB-ung",24000000.0,Found,1911.0,"(-30.783330, 127.550000)"
22,Hoba,11890,Valid,"Iron, IVB",60000000.0,Found,1920.0,"(-19.583330, 17.916670)"
23,Santa Luzia,23166,Valid,"Iron, IIAB",1918000.0,Found,1921.0,"(-16.266670, -47.950000)"
24,Navajo,16926,Valid,"Iron, IIAB",2184000.0,Found,1921.0,"(35.333330, -109.500000)"
25,Odessa (iron),17985,Valid,"Iron, IAB-MG",1600000.0,Found,1922.0,"(31.716670, -102.400000)"
26,Huckitta,11922,Valid,"Pallasite, PMG-an",2300000.0,Found,1924.0,"(-22.366670, 135.766670)"
27,Mbosi,15456,Valid,"Iron, ungrouped",16000000.0,Found,1930.0,"(-9.116670, 33.066670)"
28,Henbury,11872,Valid,"Iron, IIIAB",2000000.0,Found,1931.0,"(-24.566670, 133.166670)"
29,Goose Lake,10947,Valid,"Iron, IAB-sLL",1169500.0,Found,1938.0,"(41.980000, -120.541670)"
30,Sikhote-Alin,23593,Valid,"Iron, IIAB",23000000.0,Fell,1947.0,"(46.160000, 134.653330)"
31,Norton County,17922,Valid,Aubrite,1100000.0,Fell,1948.0,"(39.683330, -99.866670)"
32,Ghubara,10911,Valid,L5,1750000.0,Found,1954.0,"(19.227780, 56.142780)"
33,Nantan,16906,Valid,"Iron, IAB-MG",9500000.0,Found,1958.0,"(25.100000, 107.700000)"
34,Yingde,30363,Valid,"Iron, IVA",3000000.0,Found,1964.0,"(24.200000, 113.400000)"
35,Tsarev,24058,Valid,L5,1225300.0,Found,1968.0,"(48.700000, 45.700000)"
36,Allende,2278,Valid,CV3,2000000.0,Fell,1969.0,"(26.966670, -105.316670)"
37,Alkhamasin,475,Valid,"Iron, IIAB",1200000.0,Found,1973.0,"(20.600000, 44.883330)"
38,Old Woman,18007,Valid,"Iron, IIAB",2753000.0,Found,1976.0,"(34.466670, -115.233330)"
39,Jilin,12171,Valid,H5,4000000.0,Fell,1976.0,"(44.050000, 126.166670)"
40,Zhaoping,54609,Valid,"Iron, IAB complex",2000000.0,Found,1983.0,"(24.233330, 111.183330)"
41,Campinorte,52093,Valid,"Iron, ungrouped",2000000.0,Found,1992.0,"(-14.258000, -49.159170)"
42,Kunya-Urgench,12379,Valid,H5,1100000.0,Fell,1998.0,"(42.250000, 59.200000)"
43,Fukang,34491,Valid,"Pallasite, PMG",1003000.0,Found,2000.0,"(44.433330, 87.633330)"
44,Xifu,54608,Valid,"Iron, IAB complex",3000000.0,Found,2004.0,"(36.300000, 120.483330)"
45,Al Haggounia 001,44857,Valid,Aubrite,3000000.0,Found,2006.0,"(27.500000, -12.500000)"
46,Gebel Kamil,52031,Valid,"Iron, ungrouped",1600000.0,Found,2009.0,"(22.018330, 26.087780)"