In [1]:
import pandas as pd
import seaborn as sns
import numpy as np
import os
import pandas_profiling
from pandas_profiling  import ProfileReport
import matplotlib.pyplot as plt

### Load and refine data

In [2]:
df = pd.read_csv("../../data/raw/meteors.csv")
dc = (
    df.rename(columns={"name":"Name","nametype":"Classification","recclass": "Class","mass": "Mass", "fall": "FallType", "reclat" : "Latitude", 'reclong' : "Longtitude"})
    .sort_values("year", ascending=True)
    .dropna()
    .drop(['GeoLocation'], axis=1)
         )
dc

,Name,id,Classification,Class,Mass,FallType,year,Latitude,Longtitude
38301,Wietrzno-Bobrka,24259,Valid,Iron,376.0,Found,601.0,49.41667,21.70000
703,Nogata,16988,Valid,L6,472.0,Fell,860.0,33.72500,130.75000
278,Elbogen,7823,Valid,"Iron, IID",107000.0,Fell,1399.0,50.18333,12.73333
852,Rivolta de Bassi,22614,Valid,Stone-uncl,103.3,Fell,1490.0,45.48333,9.51667
283,Ensisheim,10039,Valid,LL6,127000.0,Fell,1491.0,47.86667,7.35000
...,...,...,...,...,...,...,...,...,...
30774,Northwest Africa 7858,57423,Valid,H4,459.0,Found,2013.0,0.00000,0.00000
30776,Northwest Africa 7861,57425,Valid,L5,611.0,Found,2013.0,0.00000,0.00000
30777,Northwest Africa 7862,57426,Valid,L4/5,317.0,Found,2013.0,0.00000,0.00000
30759,Northwest Africa 7812,57258,Valid,Angrite,46.2,Found,2013.0,0.00000,0.00000
30679,Northwest Africa 7701,57150,Valid,CK6,55.0,Found,2101.0,0.00000,0.00000

### Here we are manipulating the dataframe to reflect the data in a more effective manner

In [5]:
#create a more reasonable timeframe (of years)
dfy = (dc[dc.year>1800])

# drop the predicted meteorite impact
dff = dfy.drop([30679]) 

# #include only significantly sized meteors
dfm = (dff[dff.Mass>10000]) 

# #begin numbering the meteors at 1
df = (dfm
    .reset_index()
    .drop(columns=['index'])
     )
df

,Name,id,Classification,Class,Mass,FallType,year,Latitude,Longtitude
0,L'Aigle,12434,Valid,L6,37000.0,Fell,1803.0,48.766670,0.633330
1,Charcas,5326,Valid,"Iron, IIIAB",1400000.0,Found,1804.0,23.083330,-101.016670
2,Bitburg,5062,Valid,"Iron, IAB complex",1500000.0,Found,1805.0,49.966670,6.533330
3,Timochin,24004,Valid,H5,65500.0,Fell,1807.0,54.500000,35.200000
4,Weston,24249,Valid,H4,150000.0,Fell,1807.0,41.266667,-73.266667
...,...,...,...,...,...,...,...,...,...
1229,Northwest Africa 7336,55714,Valid,L6,18000.0,Found,2012.0,0.000000,0.000000
1230,Northwest Africa 7251,55333,Valid,L-melt rock,13000.0,Found,2012.0,0.000000,0.000000
1231,Northwest Africa 7650,56633,Valid,L6,11115.0,Found,2012.0,0.000000,0.000000
1232,Northwest Africa 7757,57157,Valid,H5,13000.0,Found,2012.0,0.000000,0.000000
1233,Chelyabinsk,57165,Valid,LL5,100000.0,Fell,2013.0,54.816670,61.116670

#### Now we can make a csv file from our dataframe that can be used to create our dashboard!

In [6]:
df.to_csv('processed_1.csv', index=False)