In [2]:
import pandas
x = pandas.read_csv("meteorites.csv")
print(x)

             name     id nametype              recclass      mass   fall  \
0          Aachen      1    Valid                    L5      21.0   Fell
1          Aarhus      2    Valid                    H6     720.0   Fell
2            Abee      6    Valid                   EH4  107000.0   Fell
3        Acapulco     10    Valid           Acapulcoite    1914.0   Fell
4         Achiras    370    Valid                    L6     780.0   Fell
...           ...    ...      ...                   ...       ...    ...
45711  Zillah 002  31356    Valid               Eucrite     172.0  Found
45712      Zinder  30409    Valid  Pallasite, ungrouped      46.0  Found
45713        Zlin  30410    Valid                    H4       3.3  Found
45714   Zubkovsky  31357    Valid                    L6    2167.0  Found
45715  Zulu Queen  30414    Valid                  L3.7     200.0  Found

         year    reclat    reclong               GeoLocation
0      1880.0  50.77500    6.08333     (50.775000, 6.083330)
1      1951.0  56.18333   10.23333    (56.183330, 10.233330)
2      1952.0  54.21667 -113.00000  (54.216670, -113.000000)
3      1976.0  16.88333  -99.90000   (16.883330, -99.900000)
4      1902.0 -33.16667  -64.95000  (-33.166670, -64.950000)
...       ...       ...        ...                       ...
45711  1990.0  29.03700   17.01850    (29.037000, 17.018500)
45712  1999.0  13.78333    8.96667     (13.783330, 8.966670)
45713  1939.0  49.25000   17.66667    (49.250000, 17.666670)
45714  2003.0  49.78917   41.50460    (49.789170, 41.504600)
45715  1976.0  33.98333 -115.68333  (33.983330, -115.683330)

[45716 rows x 10 columns]