In [1]:
import pandas as pd
import seaborn as sns
import numpy as np
import os
import pandas_profiling
from pandas_profiling  import ProfileReport
import matplotlib.pyplot as plt

In [6]:
pd.read_csv("../../data/raw/meteors.csv")
df = pd.read_csv("../../data/raw/meteors.csv")
df

,name,id,nametype,recclass,mass,fall,year,reclat,reclong,GeoLocation
0,Aachen,1,Valid,L5,21.0,Fell,1880.0,50.77500,6.08333,"(50.775000, 6.083330)"
1,Aarhus,2,Valid,H6,720.0,Fell,1951.0,56.18333,10.23333,"(56.183330, 10.233330)"
2,Abee,6,Valid,EH4,107000.0,Fell,1952.0,54.21667,-113.00000,"(54.216670, -113.000000)"
3,Acapulco,10,Valid,Acapulcoite,1914.0,Fell,1976.0,16.88333,-99.90000,"(16.883330, -99.900000)"
4,Achiras,370,Valid,L6,780.0,Fell,1902.0,-33.16667,-64.95000,"(-33.166670, -64.950000)"
...,...,...,...,...,...,...,...,...,...,...
45711,Zillah 002,31356,Valid,Eucrite,172.0,Found,1990.0,29.03700,17.01850,"(29.037000, 17.018500)"
45712,Zinder,30409,Valid,"Pallasite, ungrouped",46.0,Found,1999.0,13.78333,8.96667,"(13.783330, 8.966670)"
45713,Zlin,30410,Valid,H4,3.3,Found,1939.0,49.25000,17.66667,"(49.250000, 17.666670)"
45714,Zubkovsky,31357,Valid,L6,2167.0,Found,2003.0,49.78917,41.50460,"(49.789170, 41.504600)"
45715,Zulu Queen,30414,Valid,L3.7,200.0,Found,1976.0,33.98333,-115.68333,"(33.983330, -115.683330)"

In [3]:
#method chaining begins
dc = (
    df.rename(columns={"name":"Name given","nametype":"Classification of state","recclass": "Class","mass": "Mass", "fall": "Fall Type"})
    .sort_values("year", ascending=True)
    .dropna()
    .drop(['reclat', 'reclong'], axis=1)
         )
dc

,Name given,id,Classification of state,Class,Mass,Fall Type,year,GeoLocation
38301,Wietrzno-Bobrka,24259,Valid,Iron,376.0,Found,601.0,"(49.416670, 21.700000)"
703,Nogata,16988,Valid,L6,472.0,Fell,860.0,"(33.725000, 130.750000)"
278,Elbogen,7823,Valid,"Iron, IID",107000.0,Fell,1399.0,"(50.183330, 12.733330)"
852,Rivolta de Bassi,22614,Valid,Stone-uncl,103.3,Fell,1490.0,"(45.483330, 9.516670)"
283,Ensisheim,10039,Valid,LL6,127000.0,Fell,1491.0,"(47.866670, 7.350000)"
...,...,...,...,...,...,...,...,...
30774,Northwest Africa 7858,57423,Valid,H4,459.0,Found,2013.0,"(0.000000, 0.000000)"
30776,Northwest Africa 7861,57425,Valid,L5,611.0,Found,2013.0,"(0.000000, 0.000000)"
30777,Northwest Africa 7862,57426,Valid,L4/5,317.0,Found,2013.0,"(0.000000, 0.000000)"
30759,Northwest Africa 7812,57258,Valid,Angrite,46.2,Found,2013.0,"(0.000000, 0.000000)"
30679,Northwest Africa 7701,57150,Valid,CK6,55.0,Found,2101.0,"(0.000000, 0.000000)"

In [4]:
def data(path):
#cleaned and dropped overall data  
    dc = (
    df.rename(columns={"name":"Name given","nametype":"Classification of state","recclass": "Class","mass": "Mass", "fall": "Fall Type"})
    .sort_values("year", ascending=True)
    .dropna()
    .drop(['reclat', 'reclong'], axis=1)
         )
    return dc


def DataMass(path):
#method chain starts  - defines mass using cleaned data
    df1 = (
        pd.read_csv(path)
          )
    
    df2= (
        dc.sort_values(['Mass'], ascending = (True))
        )
        
    return df2


def DataYear(path):
 #method chain starts - defines year using cleaned data
    df3 = (
        pd.read_csv(path)
          )
    
    df4 = (
        dc.sort_values(['year'], ascending = (True))
          )
    return df4

# data(path)
# DataMass(path)
# DataYear(path)

In [5]:
from scripts import ProjectFunctions as pf

ImportError: cannot import name 'ProjectFunctions' from 'scripts' (unknown location)